<!DOCTYPE html>
<html>
  <head>
    <title>Parking Bidder</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 70%;
	width: 70%;
	text-align: center;
	margin: 0 auto;
      }
      
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>

      var beaches = [];

      $(document).ready(function () {
    $.ajax({ 
        type: 'GET', 
        url: 'http://ec2-52-43-77-237.us-west-2.compute.amazonaws.com/api/list/22/33', 
        data: { get_param: 'value' }, 
        success: function (data) { 
            var json_obj = data;
	    	    
            for (var i in json_obj) 
            {
               var arr1 = [json_obj[i].name, json_obj[i].lat, json_obj[i].long, 4];
               beaches.push(arr1); 
            }
            
        }
    });
});      
      var marker;

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: {lat: 37.797364, lng: -122.468291}
  });

  marker = new google.maps.Marker({
    map: map,
    draggable: true,
    animation: google.maps.Animation.DROP,
    position: {lat: 37.797364, lng: -122.468291}
  });

  //map.infowindow = new google.maps.InfoWindow();
   
   //marker.addListener('click', toggleBounce);
   setMarkers(map);
}

     //var beaches = [
     //   ['Bondi Beach', 37.76425207, -122.4207729, 4],
       // ['Coogee Beach', 37.7832776731, -122.405537559, 5],
    //    ['Cronulla Beach', 37.7849547433, -122.4328661663, 3],
    //    ['Manly Beach', 37.7996475876, -122.4348921128, 2],
    //    ['Maroubra Beach', 37.78452379, -122.3994795, 1]
    //  ];
     

      function setMarkers(map) {
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.
        var image = {
          url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(20, 32),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(0, 32)
        };

        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        var shape = {
          coords: [1, 1, 1, 20, 18, 20, 18, 1],
          type: 'poly'
        };
	
        for (var i = 0; i < beaches.length; i++) {
          var beach = beaches[i];
          
          var marker = new google.maps.Marker({
            position: {lat: beach[1], lng: beach[2]},
            map: map,
            icon: image,
            shape: shape,
            title: beach[0],
            zIndex: beach[3]
          });
          
         var content = "<h3>Loan Number: " + beach[0] +  '</h3>' + "Address: " + beach[1];
	  
          marker['infowindow'] = new google.maps.InfoWindow({
            content: content
        });

	google.maps.event.addListener(marker, 'mouseover', function() {
        	this['infowindow'].open(map, this);
    	});
	
	google.maps.event.addListener(marker, 'mouseout', function() {
                this['infowindow'].close(map, this);
        });
	
   }
}

function toggleBounce() {
  if (marker.getAnimation() !== null) {
    marker.setAnimation(null);
  } else {
    marker.setAnimation(google.maps.Animation.BOUNCE);
  }
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOybKkudLiiEBTWmZmrqiQf5IYIR0Y9Xg&callback=initMap"
    async defer></script>
  </body>
</html>
